<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rifqit.footballlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_sportsds"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_sportsds"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
    tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Match.DetailMatch.DetailLastMatch" ></activity>
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Search.Match.SearchMatch" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Search.Team.Search" />
        <activity android:name="com.rifqit.footballlab.Favorite.TeamFavorite.DetailTeamFavorite.DetailTeamFavorite" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Match.DetailMatch.DetailMatch" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Team.DetailTeam.TeamPlayer.DetailPlayer.DetailPlayer" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Team.DetailTeam.TeamPlayer.FragmentTeamPlayer" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Team.DetailTeam.TeamInfo.FragmentTeamInfo" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.Team.DetailTeam.DetailTeam" /> <!-- <activity android:name=".Favorite.FragmentTeamFavorite"></activity> -->
        <!-- <activity android:name=".Favorite.FragmentLastMatch" /> -->
        <!-- <activity android:name=".Favorite.FragmentNextMatch" /> -->
        <!-- <activity android:name=".League.DetailLeague.FragmentTeamLiga" /> -->
        <!-- <activity android:name=".League.DetailLeague.FragmentKlasemenLiga" /> -->
        <activity android:name="com.rifqit.footballlab.League.DaftarLiga"/>
        <activity android:name="com.rifqit.footballlab.Favorite.Favorite" />
        <activity android:name="com.rifqit.footballlab.League.DetailLeague.DetailLiga" />
        <activity android:name="com.rifqit.footballlab.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>